@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --text: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --bg-complementary: hsl(0, 0%, 100%);
  --shadow: hsl(0, 0%, 52%);
}

body.dark {
  --text: white;
  --bg-color: hsl(207, 26%, 17%);
  --bg-complementary: hsl(209, 23%, 22%);
  --shadow: hsl(0, 0%, 52%);
}

html {
  font-family: "Nunito Sans", sans-serif;
}

img[src$="svg"] {
  width: 20px;
  height: 20px;

  filter: invert(1);
}

.dark img[src$="svg"] {
  filter: invert(0);
}

@layer base {
  .content-limitter {
    @apply max-w-5xl m-auto;
  }
}
