@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --text: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --bg-complementary: hsl(0, 5%, 92.2%);
  --shadow-color: hsl(0, 20%, 84%);
  --border-color: rgba(0, 0, 0, 0.5);
  --header-height: 60px;
}

body.dark {
  --text: white;
  --bg-color: hsl(207, 26%, 17%);
  --bg-complementary: hsl(209, 23%, 22%);
  --border-color: rgba(255, 255, 255, 0.5);
  --shadow-color: hsl(0, 1%, 31%);
}

html {
  font-family: "Nunito Sans", sans-serif;
}

img[src$="svg"] {
  width: 20px;
  height: 20px;

  filter: invert(1);
}

.dark img[src$="svg"] {
  filter: invert(0);
}

dialog[open] {
  animation: slide-bottom-to-top 0.3s ease-out forwards;
}

[data-js="countries-list-content"] article {
  @apply cursor-pointer;
}


@keyframes slide-bottom-to-top {
  0% {
    display: block;
    transform: translateY(100%);
  }
  100% {
    display: block;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@supports (button:focus-visible) {
  @layer base {
    button, input, select, textarea, [data-js="countries-list-content"] article {
      outline: none !important;
      @apply outline-none transition-shadow focus-visible:shadow-focus-visible;
    }
  }
}

@layer base {
  .content-limitter {
    @apply max-w-5xl m-auto;
  }
}

@layer components {
  .btn {
    @apply flex gap-2 items-center p-2 pr-3 rounded-md bg-[--bg-color] font-bold transition-colors;
  }

  .spinner {
    animation: spin 1s ease-out infinite;
    @apply p-2 rounded-full border-[3px] border-r-transparent inline-block border-[--text];
  }
}

@media (pointer: coarse) {
  @layer components {
    .btn, [data-js="countries-list-content"] > article {
      @apply cursor-default;
    }
  }
}